<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Denzel Washington</h1>
    <div>
      <h4>Who is he?</h4>
      <p>
        Denzel Washington is an American actor known for his engaging and
        powerful performances. Throughout his career he has been regularly
        praised by critics, and his consistent success at the box office has
        helped to dispel the perception that African American actors cannot draw
        mainstream white audiences.
      </p>
    </div>
    <div>
      <h4>What was his first film?</h4>
      <p>
        His first feature film was the 1981 comedy Carbon Copy, in which he
        plays the illegitimate African American son of a white business
        executive played by George Segal.
      </p>
    </div>
    <div>
      <h4>Where did he grow up?</h4>
      <p>
        Denzel was born in Mount Vernon, New York, in 1954 and grew up there
        until age 14, when he was sent to a boarding school by his parents. He
        later graduated from Fordham University, in 1977, where he studied
        journalism.
      </p>
    </div>
    <div>
      <h4>Was he ever on Broadway?</h4>
      <p>
        He appeared in five productions on Broadway, including Checkmates
        (1988), Julius Caesar (2005), Fences (2010), A Raisin in the Sun (2014),
        and The Iceman Cometh (2018). After starring in the Broadway revival of
        August Wilson’s Fences, Washington directed, produced, and starred in
        the first film adaptation of the play, which was released in 2016.
      </p>
    </div>
    <div>
      <h4>Most memorable portrayals?</h4>
      <p>
        Denzel Washington’s acclaimed portrayals of historical figures included
        his performances as civil rights activist Malcolm X in Malcolm X (1992),
        anti-apartheid activist Steve Biko in Cry Freedom (1987), drug
        trafficker Frank Lucas in American Gangster (2007), and Coach Herman
        Boone in Remember the Titans (2000).
      </p>
    </div>
  </body>
</html>
