<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Works</li>
        <li>Photos</li>
      </ul>
    </nav>
    <h1>Denzel Washington</h1>
    <h2>Actor, Icon, Businessman</h2>
    <div>
      <img
        src="https://m.media-amazon.com/images/M/MV5BMjE5NDU2Mzc3MV5BMl5BanBnXkFtZTcwNjAwNTE5OQ@@._V1_.jpg"
        alt=""
      />
    </div>
  </body>
</html>
